/* common.css */
body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background: green;
  color: #222;
}

a {
  color: #307EA9;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}


pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 12px;
  letter-spacing: 0;
}

code {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  padding: 0.2em;
}

pre code {
  border: none;
}

