.highlight  pre {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  background-color: #232323;
  color: #E6E0DB;
}

.highlight .k {
  color: #cb7832;
}

.highlight .nf {
  color: #ffc56d;
}

/* name of class */
.highlight .nc {
  color: #fff;
}


.highlight .no, .highlight .o {
  color: #fff;
}

.highlight .kp, .highlight .p {
  color: #E6E0DB;
}

.highlight .ss {
  color: #6c9cbd;
}

.highlight .kp{
  color: #6c9cbd;
}
.highlight .nb {
  color:#CB7832;
}

/* 'sting' */
.highlight .s1 {
  color: #a4c260;
}

/* comment */
.highlight .c1 {
  color:#BC9358; font-style: italic;
}
