<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <section class="container content">
      <div class="title">
        {{ page.title }}
      </div>
      {% assign name = page.path | split:"-" | first %}
      {% if name < '010' %}
        <a href="http://haoduoshipin.com/episodes/{{ name | replace_first:'00', '' }}">观看视频</a>
      {% elsif name >= '010' and name < '100' %}
        <a href="http://haoduoshipin.com/episodes/{{ name | replace_first:'0', '' }}">观看视频</a>
      {% else %}
        <a href="http://haoduoshipin.com/episodes/{{ name }}">观看视频</a>
      {% endif %}
      {{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>
